/*body {
    position: relative;
    background-color: azure;
}*/
/*

.section {
    height: 100vh;
}
*/

.section img {
    height: 100vh; /* Make the image fill the height of the section */
    object-fit: cover; /*Ensure the image covers the area without distortion */
    padding: 12px;
    border-radius: 34px;
}

.navbar {
    background-color: #f1faee;
    opacity: 0.5;
    border: 2px solid #1d3557;
    border-radius: 15px;
    margin: 5px 40px;
}

.navbar .nav-link {
    color: #1d3557;
    font-weight: 600;
}

.navbar .nav-link:hover {
    color: blue;
}

.mybtn {
    width: 310px;
    margin: 5px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 40px;
    background-color: #f1faee;
    color: #1d3557;
    font-weight: 900;
    display: inline-block;
    text-decoration: none;
}

.mybtn:hover {
    background-color: #e63946;
    color: #f1faee;
}

#landing {
    height: 100vh;
}

#videos, #articles {
    color: #f1faee;
    background-color: slategrey;
    border-radius: 32px;
    
}

