body {
    background-image: url(media/eveningmoon.jpg);
    background-size: cover
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}
/*

.section {
    height: 100svh;
}
*/

.icons-container {
    background-color: rgba(255, 255, 255, 0.5);
    width: 15%;
    min-width: 200px;
    margin: 0 auto;
}

.socials-icon {
    font-size: 2em;
    color: red;
}

.patreon-logo {
    width: 8em;
}

.navbar {
    background-color: #f1faee;
    opacity: 0.8;
    
    max-width: 820px;
    border: 2px solid #1d3557;
    border-radius: 15px;
    margin: 5px auto;
}

.navbar .nav-link {
    color: #1d3557;
    font-weight: 600;
}

.navbar .nav-link:hover {
    color: #1d3557;
}

.mybtn {
    width: 310px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #457b9d;
    border-radius: 40px;
    background-color: #f1faee;
    color: #1d3557;
    font-weight: 900;
    display: inline-block;
    text-decoration: none;
}

.mybtn:hover {
    background-color: #e63946;
    color: #f1faee;
}

.mybtn:disabled {
    background-color: rgba(255, 255, 255, 0.5);
    color: #e63946;
    cursor: not-allowed;
}

.myimage {
    height: 100vh; /* Make the image fill the height of the section */
    object-fit: cover; /*Ensure the image covers the area without distortion */
    padding: 12px;
    border-radius: 34px;
}

#landing {
    min-height: 100vh;
    background-image: url(media/flowerblossom.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.15);
    background-blend-mode: screen;
    border-radius: 25px;
    padding-top: 15px;
}

#landing h1,
#landing p {
    color: #1d3557;
}

#videos {
    color: #1d3557;
    background-color: rgb(69, 123, 157, 0.4);
    border-radius: 32px;
}

#articles {
    background-image: url(media/eveningsunset.jpg);
    background-size: cover;
    border-radius: 25px;
    padding-top: 15px;
}

#music {
    background-image: url(media/yellowsky.jpg);
    background-size: cover;
    border-radius: 25px;
    padding-top: 15px;
}

.readmore-blue {
    color: #1d3557;
}

.readmore-white {
    color: #a8dadc;
}

.readmore-blue:hover,
.readmore-white:hover {
    color: #e63946;
}

#roundedge-left {
    border-radius: 25px 0 0 25px;
    padding: 20px;
    background-color: #1d3557;
}

#roundedge-right {
    border-radius: 0 25px 25px 0;
    padding: 20px;
    background-color: #1d3557;
}

#roundedge-center {
    background-image: url(media/flowerblossom.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 15px;
    height: 25vh;
}

.videos-contain {
    border-radius: 25px;
    overflow: hidden;
}

#footer a {
    color: #a8dadc;
}

/*Media Queries*/

@media (max-width: 769px) {
    #roundedge-right {
        border-radius: 0 0 25px 25px;
    }
    #roundedge-left {
        border-radius: 25px 25px 0 0;
    }
    .daily-iframe {
        height: 50%;
    }
}
