@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
  --bs-body-font-family: "Arimo", sans-serif;
  background-image: url(media/eveningmoon.jpg);
  background-size: cover;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}


/*

Effect for links and containers like a tags
*/

.scale-effect {
    transition: transform 0.2s;
}

.scale-effect:hover,
.scale-effect:focus {
    transform: scale(1.1);
}

/* End of effects  */



.icons-container {
    background-color: rgba(255, 255, 255, 0.5);
    width: 15%;
    min-width: 200px;
    margin: 0 auto;
}



.socials-icon {
    font-size: 2em;
    color: red;
}

.patreon-logo {
    width: 8em;
}


.mybtn {
    width: 310px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #457b9d;
    border-radius: 40px;
    background-color: #f1faee;
    color: #1d3557;
    font-weight: 900;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.2s;
}

.mybtn:hover,
.mybtn:focus {
    background-color: #e63946;
    color: #ff7b00;
    transform: scale(1.05);
}

.mybtn:disabled {
    background-color: rgba(255, 255, 255, 0.5);
    color: #e63946;
    cursor: not-allowed;
}

.myimage {
    width: 100%;
    height: 25vh;
    /* Make the image fill the height of the section */
    object-fit: cover;
    /*Ensure the image covers the area without distortion */
    padding: 12px;
    border-radius: 34px;
}

#landing {
    min-height: 100vh;
    background-image: url(media/flowerblossom.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.15);
    background-blend-mode: screen;
    border-radius: 25px;
    padding-top: 15px;
}

#landing h1,
#landing p {
    color: #1d3557;
}

#videos {
    color: #1d3557;
    background-color: rgb(69, 123, 157, 0.4);
    border-radius: 32px;
}

#articles {
    background-image: url(media/eveningsunset.jpg);
    background-size: cover;
    border-radius: 25px;
    padding-top: 15px;
}

#music {
    background-image: url(media/yellowsky.jpg);
    background-size: cover;
    border-radius: 25px;
    padding-top: 15px;
}

.readmore-blue {
    color: #1d3557;
}

.readmore-white {
    color: #a8dadc;
}

.readmore-blue:hover,
.readmore-white:hover {
    color: #e63946;
}

.edge {
    padding: 20px;
    background-color: #1d3557;
}


#roundedge-center {
    background-image: url(media/flowerblossom.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 15px;
    height: 25vh;
}

.videos-contain {
    border-radius: 25px;
    overflow: hidden;
}

#footer a {
    color: #a8dadc;
}


/* Utilities */

.color-border {

    background:
        linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)) padding-box,
        /* inner background */
        linear-gradient(90deg, #ff7b00, #ff00c8, #00d4ff) border-box;
    /* border gradient */
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    border: 0.125em solid transparent;

}


.font-style {
    font-family: "Playwrite HU", cursive;

}

.skew {
    display: inline-block;
    transform: skewX(-8deg)
}

/*Media Queries*/

@media (min-width: 769px) {

    .daily-iframe {
        height: 50vh;
    }

    #footer {
        border-radius: 12px;
    }
}

