body {
    background-color: #f1faee;
}
/*

.section {
    height: 100vh;
}
*/
.navbar {
    background-color: #f1faee;
    opacity: 0.5;
    border: 2px solid #1d3557;
    border-radius: 15px;
    margin: 5px 40px;
}

.navbar .nav-link {
    color: #1d3557;
    font-weight: 600;
}

.navbar .nav-link:hover {
    color: blue;
}

.mybtn {
    width: 310px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #457b9d;
    border-radius: 40px;
    background-color: #f1faee;
    color: #1d3557;
    font-weight: 900;
    display: inline-block;
    text-decoration: none;
}

.mybtn:hover {
    background-color: #e63946;
    color: #f1faee;
}

.myimage {
    height: 100vh; /* Make the image fill the height of the section */
    object-fit: cover; /*Ensure the image covers the area without distortion */
    padding: 12px;
    border-radius: 34px;
}

#landing {
    height: 100vh;
    background-image: url(media/orangesky.jpg);
    background-size: cover;
    border-radius: 25px;
    padding-top: 15px;
}

#videos {
    color: #f1faee;
    background-color: #457b9d;
    border-radius: 32px;
}

#articles {
    background-image: url(media/eveningsunset.jpg);
    background-size: cover;
    border-radius: 25px;
    padding-top: 15px;
}

#music {
    background-image: url(media/yellowsky.jpg);
    background-size: cover;
    border-radius: 25px;
    padding-top: 15px;
}


.readmore-blue {
    color: #1D3557;
}

.readmore-white {
    color: #A8DADC;
}

.readmore-blue:hover,
.readmore-white:hover {
    color: #e63946;
}

#roundedge-left {

    border-radius: 25px 0 0 25px;
    padding: 20px;
    background-color: #1D3557;
}

#roundedge-right {
   
    border-radius: 0 25px 25px 0;
    padding: 20px;
    background-color: #e63946;
}

#roundedge-center {
  
    background-image: url(media/flowerblossom.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 15px;
    height: 25vh;
}

.videos-contain {
    border-radius: 25px;
    overflow:hidden;
}

/*Media Queries*/

@media (max-width: 769px) {
    
    #roundedge-right,
    #roundedge-left,
    #roundedge-center {
        border-radius: 25px;
    }
    
}