body {
    position: relative;
    background-color: azure;
}

.section {
    height: 100vh;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
    border: 2px solid blue;
    border-radius: 25px;
    margin: 5px 10px;
}

.navbar .nav-link {
    color: blueviolet;
    font-weight: 600;
}

.navbar .nav-link:hover {
    color: blue;
}

.mybtn {
    width: 360px;
    margin: 5px;
    background-color: lightgray;
    color: blueviolet;
    font-weight: 900;
}

.mybtn:hover {
    background-color: yellow;
    color: blueviolet;
}