<div id="footer-container" class="container">
    <div class="row">
        <div id="roundedge-left" class="col-md-5 col-sm-12 text-start text-white">
            <p>
                For your inquires about Qi-Gong classes and seminars<br />
                Contact: <a href="mailto:hi@qismile.com">hi@qismile.com</a>
            </p>
        </div>

        <div id="roundedge-center" class="col-md-2 col-sm-12 text-start text-white"></div>

        <div id="roundedge-right" class="col-md-5 col-sm-12 text-end text-white">
            <p>Website by: <br />&copy; 2025 ZenidReney Web Development. <br />All rights reserved.</p>
            <p>Built with <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>.</p>
        </div>
    </div>
</div>
