<div id="footer-container" class="container color-border">
    <div class="row">
        <div  class="col-md-5 col-sm-12 text-start text-white edge">
            <p>
                For your inquires about Qi-Gong classes, Akashic Registers therapy sessions and seminars<br />
                Contact: <a href="mailto:hi@qismile.com">hi@qismile.com</a>
            </p>
        </div>

        <div id="roundedge-center" class="col-md-2 col-sm-12 text-start text-white"></div>

        <div  class="col-md-5 col-sm-12 text-end text-white edge">
            <p>Website by: </p><p>&copy; <span id="year-span"></span> Zenid Web Development. </p><p></p>All rights reserved.</p>
            <p>Built with <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>.</p>
        </div>
    </div>
</div>


