<nav class="navbar color-border navbar-expand-lg container">
    <div class="container">
        <div class="scale-effect"><a class="navbar-brand" href="/index.html"><span class="font-style skew">Qi</span>
                Smile</a></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item scale-effect">
                    <a class="nav-link" href="/index.html#videos">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scale-effect" href="/index.html#music">Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scale-effect" href="/index.html#articles">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scale-effect" href="../index.html#footer">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>