  <!-- Modal -->
    <!-- <div class="modal fade" id="modal-content" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Support the site</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>You can support the site on Patreon</h2>
                    <h3>...and have access to more articles, ad-free music and videos</h3>
                    <a href="https://www.patreon.com/cw/qismile" class="scale-effect"><img
                            src="/media/PATREON_Lockup_Horizontal_BLACK_RGB.png"
                            class="patreon-logo scale-effect" /></a>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    <!-- </div> -->